.btn {
  &:link,
  :visited {
    margin-top: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 100;
    padding: 1.5rem 6rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    animation: moveInBottom 3s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 1rem 0.4rem 1.5rem 0.2rem rgba(56, 56, 56, 1);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0.8rem 0.2rem 1rem 0.2rem rgba(56, 56, 56, 0.8);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &-white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }
}
